@import url("./colors.css");
@import url("./main-info.css");
@import url("./play.css");
@import url("./settings.css");
@import url("./visualizer.css");

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    overscroll-behavior-y: contain;
}

button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100dvh;
}

:root {
    --app-background-color: var(--white);
}

.app {
    background-color: var(--app-background-color);
    width: 100vw;
    height: 100dvh;
    box-sizing: border-box;
    padding: 3dvh 6vw;
    display: flex;
    flex-direction: column;
}

.app.dotted-theme {
    background-image: radial-gradient(var(--light-gray) 0.4px, var(--white) 0.4px);
    background-size: 8px 8px;
}
