@import url("./colors.css");
@import url("./bottomsheet.css");
@import url("./play.css");
@import url("./settings.css");
@import url("./bpm-visualizer.css");

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    overscroll-behavior-y: contain;
    user-select: none;
}

button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100dvh;
}

:root {
    --app-background-color: var(--white);
    --box-shadow-default: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.app {
    background-color: var(--app-background-color);
    width: 100vw;
    height: 100dvh;
    box-sizing: border-box;
    padding: 3dvh 6vw;
    display: flex;
    flex-direction: column;
}

.app.sunset-theme {
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}

.app.titan-theme {
    background-image: linear-gradient(to right, #434343 0%, #000 100%);
    --pitch-bar-background-color-active: var(--yellowgreen);
    --beat-extra-animator-background-color: var(--yellowgreen);
    --play-button-background-color-beat: var(--dark-yellowgreen);
    --bpm-color-changed: var(--dark-yellowgreen);
    --tempo-button-color-active: var(--dark-yellowgreen);
}

.app-loader {
    background-color: #030f76;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
