:root {
    --beat-animation-time: 0.2s;

    --bar-width: 100%;
    --bar-height: 14dvh;
    --bar-radius: 6px;

    --bar-background-color: var(--white20);
    --bar-background-color-active: var(--white);
    --bar-padding: 3px;

    --pitch-bar-background-color: var(--white73);
    --pitch-bar-background-color-active: var(--metro-blue);

    --beat-extra-width: 1rem;
    --beat-extra-animator-background-color: var(--metro-blue);

    --beat-animation-container-background-color: var(--white20);
}

.bpm-visualizer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.bars-container {
    display: flex;
    gap: 0.2rem;
    width: 100%;
}

.bar {
    width: var(--bar-width);
    height: var(--bar-height);
    border-radius: var(--bar-radius);
    background-color: var(--bar-background-color);
    border: 1px solid var(--bar-background-color);
    display: flex;
    flex-direction: column-reverse;
    padding: var(--bar-padding);
    gap: 0.2rem;
}

.bar-active {
    animation: bar-active var(--beat-animation-time);
}

.pitch-bar {
    border-radius: var(--bar-radius);
    background-color: var(--pitch-bar-background-color);
    height: 50%;
}

.pitch-bar-active {
    animation: pitch-bar-active var(--beat-animation-time);
}

.beat-animation-container {
    margin-top: 0.2rem;
    height: 3dvh;
    width: 100%;
    border-radius: var(--bar-radius);
    overflow: hidden;
    background-color: var(--beat-animation-container-background-color);
    border: 1px solid var(--bar-background-color);
}

.beat-extra-animator {
    position: relative;
    height: 100%;
    width: var(--beat-extra-width);
    background-color: var(--beat-extra-animator-background-color);
    will-change: transform;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.beat-extra-animator_active {
    animation-name: beat-extra-animator-active;
}

@keyframes bar-active {
    0% {
        background-color: var(--bar-background-color-active);
    }
    100% {
        background-color: var(--bar-background-color);
    }
}

@keyframes pitch-bar-active {
    0% {
        background-color: var(--pitch-bar-background-color-active);
    }

    100% {
        background-color: var(--pitch-bar-background-color);
    }
}

@keyframes beat-extra-animator-active {
    0% {
        left: 0%;
    }
    100% {
        left: calc(100% - var(--beat-extra-width));
    }
}
