:root {
    --hearts: #BD1550;

    /* default-theme */
    --white: #fff;
    --gray: #515151;
    --gray50: rgba(81, 81, 81, 0.5);
    --gray80: rgba(81, 81, 81, 0.8);
    --light-gray: #ddd;
    --metro-blue: #00B4FF;

    /* sunset-theme*/
    --white20: rgba(255, 255, 255, 0.2);
    --white40: rgba(255, 255, 255, 0.4);
    --white73: rgba(255, 255, 255, 0.73);
    --dark-blue: #030f76;

    /* void-theme */
}
