:root {
    --play-button-width: 7rem;
    --play-button-height: 7rem;
    --play-button-border-radius: 6px;

    --play-beat-animation-time: 0.1s;

    --play-button-background-color: var(--gray);
    --play-button-background-color-hover: var(--hearts);
    --play-button-color: var(--white);
}

.player-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* height: var(--player-container-height); */
    margin-top: auto;
    margin-bottom: 12dvh;
}

.play-button {
    width: var(--play-button-width);
    height: var(--play-button-height);
    border-radius: var(--play-button-border-radius);
    cursor: pointer;
    background-color: var(--play-button-background-color);
    color: var(--play-button-color);
    transition: transform 0.1s;
}

.play-button:active {
    transform: scale(0.98);
}

.play-pause-icon {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.play-pause-icon_stop {
    background-color: var(--play-button-color);
}

.play-pause-icon_play {
    border-style: solid;
    border-width: 2rem 0 2rem 4rem;
    border-color: transparent transparent transparent var(--play-button-color);
}

.play-active {
    animation: play-active var(--play-beat-animation-time);
}

@keyframes play-active {
    0% {
        background-color: var(--play-button-background-color-hover);
    }
    100% {
        background-color: var(--play-button-background-color);
    }
}
