:root {
    --font-size: 1.5rem;

    --bpm-font-size: 2rem;
    --bpm-changed-animation-time: 1s;
    --bpm-color: var(--white);
    --bpm-background-color: var(--white20);
    --bpm-color-changed: var(--dark-blue);

    --tempo-button-background-color: var(--white40);
    --tempo-button-color: var(--white);
    --tempo-button-color-active: var(--dark-blue);
    --tempo-button-width: 4rem;
    --tempo-button-height: 4rem;

    --reset-button-color: var(--white);

    --settings-bpm-label: var(--white);
    --settings-bpm-input-background-color: var(--black20);
    --settings-bpm-input-color: var(--white);

    --settings-time-signature-title-color: var(--white);

    --settings-output-window-color: var(--white);
    --settings-output-window-background-color: var(--black20);
    --settings-divider-window-color: var(--white);

    --extra-settings-title: var(--white);
    --extra-settings-select-button: var(--white);
    --extra-settings-select-button-background-color: var(--white20);
    --extra-settings-select-button-background-color-active: var(--white40);
}

.tempo-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 2rem;
}

.tempo-button {
    width: var(--tempo-button-width);
    height: var(--tempo-button-height);
    background-color: var(--tempo-button-background-color);
    color: var(--tempo-button-color);
    font-weight: 700;
    font-size: var(--font-size);
    transition: transform 0.3s;
    border-radius: var(--play-button-border-radius);
    box-shadow: var(--box-shadow-default);
}

.tempo-button:active {
    transform: scale(0.8);
    background-color: var(--tempo-button-color-active);
}

.footer-settings-container {
    text-align: center;
}

.extra-button,
.reset-button {
    background-color: transparent;
    transition: transform 0.3s;
    color: var(--reset-button-color);
    font-weight: 700;
    padding: 6px 12px;
    font-size: 1rem;
}

.extra-button {
    padding: 0;
}

.extra-button:active,
.reset-button:active {
    transform: scale(0.8);
}

.settings-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

@media (orientation: landscape) {
    .footer-settings-container,
    .settings-container {
        display: none;
    }
}

.bpm,
.time-signature {
    text-align: center;
    color: var(--bpm-color);
    font-size: var(--bpm-font-size);
    background-color: var(--bpm-background-color);
    font-weight: 700;
    transition: transform 0.3s;
    border-radius: 6px;
    padding: 6px 12px;
}

.bpm:active,
.time-signature:active {
    transform: scale(0.9);
}

.bpm-changed {
    animation: bpm-changed var(--bpm-changed-animation-time);
}

.bottomsheet-bpm-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    width: 100%;
}

.bottomsheet-time-signature-controls {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 32px;
}

.settings-output-window {
    font-size: 2rem;
    color: var(--settings-output-window-color);
    text-align: center;
    border-radius: 6px;
    background-color: var(--settings-output-window-background-color);
    min-width: 80px;
    max-width: 80px;
}

.settings-time-signature-divider {
    font-size: 2.5rem;
    color: var(--settings-divider-window-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-bpm-input-label {
    color: var(--settings-bpm-label);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.settings-time-signature-title,
.extra-settings-title {
    color: var(--settings-bpm-label);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.settings-bpm-input {
    text-align: center;
    font-size: 2rem;
    min-width: 30%;
    max-width: 30%;
    border: none;
    border-radius: 6px;
    background-color: var(--settings-bpm-input-background-color);
    color: var(--settings-bpm-input-color);
}

.extra-settings-select-group {
    display: flex;
    margin-top: 16px;
}

.extra-settings-slot:last-child {
    margin-bottom: 32px;
}

.extra-settings-select-button {
    color: var(--extra-settings-select-button);
    background-color: var(--extra-settings-select-button-background-color);
    width: 80px;
    padding: 12px 8px;
    text-align: center;
}

.extra-settings-select-button:first-child {
    border-radius: 12px 0 0 12px;
}

.extra-settings-select-button:last-child {
    border-radius: 0 12px 12px 0;
}

.extra-settings-select-button_active {
    background-color: var(--extra-settings-select-button-background-color-active);
}

@keyframes bpm-changed {
    0% {
        color: var(--bpm-color-changed);
    }

    100% {
        color: var(--bpm-color);
    }
}

