:root {
    --font-size: 1.5rem;

    --bpm-font-size: 2rem;
    --bpm-changed-animation-time: 1s;
    --bpm-color: var(--gray);
    --bpm-background-color: transparent;
    --bpm-color-changed: var(--hearts);

    --tempo-button-background-color: var(--gray);
    --tempo-button-color: var(--white);
    --tempo-button-color-active: var(--hearts);
    --tempo-button-width: 4rem;
    --tempo-button-height: 4rem;

    --reset-button-color: var(--gray);
}

.tempo-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 2rem;
}

.tempo-button {
    width: var(--tempo-button-width);
    height: var(--tempo-button-height);
    background-color: var(--tempo-button-background-color);
    color: var(--tempo-button-color);
    font-weight: 700;
    font-size: var(--font-size);
    transition: transform 0.3s;
    border-radius: var(--play-button-border-radius);
    box-shadow: var(--box-shadow-default);
}

.tempo-button:active {
    transform: scale(0.8);
    background-color: var(--tempo-button-color-active);
}

.footer-settings-container {
    text-align: center;
}

.settings-button,
.reset-button {
    background-color: transparent;
    transition: transform 0.3s;
    color: var(--reset-button-color);
    font-weight: 700;
    padding: 6px 12px;
    font-size: 1rem;
}

.settings-button {
    padding: 0;
}

.settings-button:active,
.reset-button:active {
    transform: scale(0.8);
}

.settings-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.bpm,
.measure {
    text-align: center;
    color: var(--bpm-color);
    font-size: var(--bpm-font-size);
    background-color: var(--bpm-background-color);
    font-weight: 700;
    transition: transform 0.3s;
    border-radius: 6px;
    padding: 6px 12px;
}

.bpm:active,
.measure:active {
    transform: scale(0.9);
}

.bpm-changed {
    animation: bpm-changed var(--bpm-changed-animation-time);
}

@keyframes bpm-changed {
    0% {
        color: var(--bpm-color-changed);
    }

    100% {
        color: var(--bpm-color);
    }
}
