:root {
    --font-size: 1.5rem;

    --tempo-button-background-color: var(--gray);
    --tempo-button-color: var(--white);
    --tempo-button-color-active: var(--hearts);
    --tempo-button-width: 4rem;
    --tempo-button-height: 4rem;

    --reset-button-color: var(--gray);
}

.tempo-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 2rem;
}

.tempo-button {
    width: var(--tempo-button-width);
    height: var(--tempo-button-height);
    background-color: var(--tempo-button-background-color);
    color: var(--tempo-button-color);
    font-weight: 700;
    font-size: var(--font-size);
    transition: transform 0.3s;
    border-radius: var(--play-button-border-radius);
    box-shadow: var(--box-shadow-default);
}

.tempo-button:active {
    transform: scale(0.8);
    background-color: var(--tempo-button-color-active);
}

.settings-container {
    text-align: center;
}

.reset-button {
    background-color: transparent;
    transition: transform 0.3s;
    color: var(--reset-button-color);
    font-weight: 700;
    padding: 6px 12px;
    font-size: 1rem;
}

.reset-button:active {
    transform: scale(0.8);
}
