:root {
    --beat-animation-time: 0.2s;

    --bar-width: 100%;
    --bar-height: 12dvh;
    --bar-radius: 12px;

    --bar-border-color: var(--gray50);
    --bar-background-color: var(--gray50);
    --bar-background-color-active: var(--metro-blue);

    --beat-extra-width: 1rem;
    --beat-extra-animator-background-color: var(--metro-blue);

    --beat-animation-container-background-color: var(--gray50);
}

.visualization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bars-container {
    margin-top: 3rem;
    display: flex;
    gap: 0.1rem;
    width: 100%;
}

.bar {
    width: var(--bar-width);
    height: var(--bar-height);
    border-radius: var(--bar-radius);
    background-color: var(--bar-background-color);
    border: 1px solid var(--bar-background-color);
}

.bar-muted {
    background-color: transparent;
    border: 1px solid var(--bar-background-color);
}

.bar-active.bar-muted {
    animation: bar-muted var(--beat-animation-time);
}

.bar-active:not(.bar-muted) {
    animation: bar-active var(--beat-animation-time);
}

.beat-animation-container {
    margin-top: 0.1rem;
    height: 3dvh;
    width: 100%;
    border-radius: var(--bar-radius);
    overflow: hidden;
    background-color: var(--beat-animation-container-background-color);
    border: 1px solid var(--bar-background-color);
}

.beat-extra-animator {
    position: relative;
    height: 100%;
    width: var(--beat-extra-width);
    background-color: var(--beat-extra-animator-background-color);
    will-change: transform;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.beat-extra-animator_active {
    animation-name: beat-extra-animator-active;
}

@keyframes bar-active {
    0% {
        background-color: var(--bar-background-color-active);
    }
    100% {
        background-color: var(--bar-background-color);
    }
}

@keyframes bar-muted {
    0% {
        background-color: var(--bar-background-color-active);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes beat-extra-animator-active {
    0% {
        left: 0%;
    }
    100% {
        left: calc(100% - var(--beat-extra-width));
    }
}
